body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-shadow: 2px 2px 2px #333;
    background-image: url("avopix-364000655.jpg");
    background-size: cover;
}

h4 {
    font-family: "Arial Narrow", sans-serif;
    font-size: 2rem;
    color: green;
    text-align: center;
}

p.card-text, h5 {
    font-family: "Arial Narrow", sans-serif;
    font-size: 1.5rem;
    color: red;
    text-align: center;
}

div {
    padding: 1rem;
    background: rgba(111, 111, 111, 0.7);
    border-radius: 15px;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-bottom: 2px solid darkslategray;
    border-right: 2px solid darkslategray;
    box-shadow: 10px 10px 5px 0 rgba(50, 50, 50, 0.75);
}

div * {
    border-radius: 10px;
}

p.card-text p {
    font-size: 1rem;
    color: black;
}

input {
    line-height: 1.5rem;
}

input:hover {
    border: 2px solid red;
}

label {
    font-family: "Arial Narrow", sans-serif;
}